.cv-color1 {
    background-color: #f1f1f1;
}

.cv-color2 {
    color: #9d744c;
}

body {
    font-family: aileron;
    font-weight: 400;
    font-size: 8pt;
    margin: 0;
}

.cv-main {
    max-width: 800px;
    margin: auto;
    padding: 0;
    background-color: #fff;
}

.col-100 {
    float: left;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}

.my-heading {
    padding: 0;
    float: left;
    align-content: space-between;
}
.my-heading .my-name {

    font-family: 'Bebas Neue';
    font-size: 30pt;
    margin-top: 0%;
}

.my-heading .my-title {
    font-style: italic;
    margin-top: -1%;
    font-size: 12pt;
}

.my-heading a {
    color: #000;
    font-weight: 400;
    font-size: 12pt;
}

.head-logo {
    float: left;
    width: 20%;
}

.head-content {
    float: left;
    width: 60%;
}

.head-img {
    align-content: center;
    float: left;
    width: 20%;
}




.heading:before {
    content: "//";
    font-weight: bold;
    color: #99764f;
}

.seperator {

    width: 94%;
    height: 1.5px;
    background-color: #606060;
}



i {
    padding-right: 2%;
}

.web-links {
    white-space: pre-line;
}

.heading {
    width: 100%;
    float: left;
    margin-top: 1%;
    font-weight: normal;
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 0%;
}

.my-education {
    width: 100%
}

.right-content .seperator {
    width: 100%;
}


.skills {
    float: left;
    width: 100%;
}

.right-content {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}



.my-references {
    float: left;
}

.my-references .item-title {
    float: left;
    font-weight: 500;
}

.my-references .item-heading {
    float: left;
    font-weight: 500;
}

.my-references .reference {
    margin-top: 3%;
    float: left;
    text-align: left;
}

.reference span {
    display: block;
}

.item-row {
    float: left;
    width: 100%;
    margin-top: 3pt;
}

.item-row .edu-year {
    width: 15%;
    float: left;
}
.item-row .edu-degree {
    width: 35%;
    float: left;
}
.item-row .edu-college {
    width: 35%;
    float: left;
}
.item-row .edu-marks {
    width: 15%;
    float: left;
}

.item-row .left-item {
    width: 30%;
    float: left;
}

.item-row .right-item {
    float: left;
    width: 70%;
}

.awards-item {
    width: 40%;
    float: left;
}


.item-heading {
    text-transform: uppercase;
    font-size: 8.5pt;
    font-weight: 600;

}


.item-place {
    font-style: italic;
    font-size: 7.5pt;
}

.item-year {
    font-weight: 400;
    font-size: 7.5pt;
}

.item-title {
    text-transform: uppercase;
    font-size: 7.5pt;
    font-weight: 300;
}

.right-item .item-title {
    text-transform: uppercase;
    font-size: 7.5pt;
    font-weight: 300;
}

.right-item .item-content {
    width: 80%;
    text-align: justify;
}

.awards-item-year {
    display: inline;
    font-weight: 300;
    color: #000;
}

.init-item-name {
    display: inline;
    font-weight: 300;
    color: #000;
}


.hobby-item {
    float: left;
    margin-left: 1%;
}

.hobby-item:first-child {
    float: left;
    margin-left: 0%;
}

.hobby-item {
    width: 15%;
}


.hobby-item:last-child {
    width: 20%;
    margin-left: -3%;
}

.hobby-item .hobby-name {
    text-align: center;
}

.hobby-item .item-icon {
    font-size: 250%;
    text-align: center;
}

.my-hobbies .item-row {
    margin-bottom: 6%;
}

